body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #607080;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
h1 {
  font-size: 40px;
  color: white;
}
#captchaText {
  background: url(images/bg4.jpg);
  font-size: 30px;
  border: none;
  outline: none;
  margin-top: 15px;
  width: 150px;
  text-align: center;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
#captchaEnter {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 40px;
  border: 2px solid rgb(97, 94, 94);
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#refreshbtn {
  background-color: rgb(90, 104, 235);
  border: 3px solid rgb(90, 104, 235);
}
#checkbtn {
  background-color: #66ff99;
  border: 3px solid rgb(90, 104, 235);
}

.btn {
  color: white;
  padding: 10px;
  width: 150px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
